In [16]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
# load the data

data_folder_name = 'data'
train_body_filename = 'train_bodies.csv'
train_stance_filename = 'train_stances.csv'

train_body_path = data_folder_name +'/'+ train_body_filename 
train_stance_path = data_folder_name + '/' + train_stance_filename

body_data = pd.read_csv(train_body_path)
stance_data = pd.read_csv(train_stance_path)

In [18]:
body_data.sample(10)

      Body ID                                        articleBody
303       476  NOTHING tops off a holiday in Bali like discov...
1005     1508  Elon University has not banned the use of the ...
1473     2217  In an aptly described “joint policy initiative...
1454     2187  The most expensive Apple Watch set to go on sa...
1651     2480  A tour of the royal grounds at Buckingham Pala...
151       232  Apple will offer a low power mode on Apple Wat...
405       614  Batman as Steve Jobs? Sure. How about that guy...
1053     1579  BUNBURY, Australia, Oct. 16 (UPI) -- A West Au...
989      1483  Last night, Twitter went into after an obvious...
1594     2401  After multiple delays, the launch of the Apple...

In [20]:
# feature extraction with TF-IDF

X_train = body_data['articleBody']
tfidf = TfidfVectorizer(decode_error='ignore', lowercase = True)
train = tfidf.fit_transform(X_train.values.astype('U'))
val = tfidf.transform(X_val.values.astype('U'))

In [22]:
dictionary = np.asarray(tfidf.get_feature_names())
print(dictionary[np.random.randint(0,len(dictionary),size=20)])

['luther' 'lyrical' 'dance' 'making' 'exotic' 'barbarous' 'manages'
 'discovers' 'victimizes' 'concept' 'metre' 'indefinitely' 'chefs'
 'rebuffs' 'mane' 'poster' 'concede' 'ccoszbruno' 'monarchy' 'bursts']